/* отчистим все отступы и границы */
* {
   padding: 0;
   margin: 0;
   border: 0;
}

/* меняет подсчет блока так чтобы нам было удобно верстать  */
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

/* Убираем линии обводки у некоторых браузеров. */
:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}


/* перечисляем html5 и добавляем им значение блок, что делает их блочными  */
nav,
footer,
header,
aside {
   display: block;
}

/* Уравниваем поведение шрифтов в разных браузеров123  */
html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}


input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}


h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

/* ............................................................ */
body {
   font-family: Arial, Helvetica, sans-serif;
}

div {
   border: 1px solid #000;
}

.text_heig {
   line-height: 25px;
   margin: 50px 200px 0px 50px;
}


.sptx {
   display: block;
   margin: 25px 0px 0px 50px;
}

.foto {
   display: block;
   margin: 0px 0px 0px 83px;
}

.nottheend {
   margin: 25px 0px 50px 50px;
   min-width: 150%;
}

.sm {
   display: inline;
   margin: 0px 25px 0px 50px;
   width: 175px;
}

.sm2 {
   display: inline;
   border: 1px solid #000;
}

.sp {
   border: 1px solid #000;
   margin: 50px 25px 0px 50px;
   width: 350px;

}

.foto2 {
   border: 1px solid #000;
   margin: 0px 0px 0px 50px;

}

.help {
   border: rgb(255, 255, 255);
   margin: 50px 2px;
}

.bloc {
   display: block;
   margin: 0px 0px 0px 50px;
   border: solid #000;
   width: 300px;
}