/* отчистим все отступы и границы */
* {
   padding: 0;
   margin: 0;
   border: 0;
}

/* меняет подсчет блока так чтобы нам было удобно верстать  */
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

/* Убираем линии обводки у некоторых браузеров. */
:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}


/* перечисляем html5 и добавляем им значение блок, что делает их блочными  */
nav,
footer,
header,
aside {
   display: block;
}

/* Уравниваем поведение шрифтов в разных браузеров123  */
html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}


input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}


h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

/* ............................................................ */

body {
   background-color: #e8e8e8;
}

.content {
   max-width: 841px;
   margin: 0 auto;
   padding: 125px 0px 137px 0px;
   font-family: Arial, Helvetica, sans-serif;
}

.p_1 {
   text-transform: uppercase;
   font-size: 14px;
}

.list {
   padding: 30px 0px 0px 0px;

}



.list-1 {
   padding: 0px 0px 40px 0px;
}

.list-1 li {
   background: url('/img/check\ icon.png') 10px no-repeat;
   margin: 0px 0px 10px 0px;
   padding: 2px 2px 2px 40px;
}

.list-1 li:nth-child(1) {
   text-decoration: line-through;

}

.list-1 li:nth-child(2) {
   font-weight: 700;
}

.list-1 li:nth-child(3) {
   font-style: oblique;
}

.list-1 li:nth-child(4) {
   text-transform: uppercase;
}


.list-2 li {
   background: url('/img/check\ icon.png') 10px no-repeat;
   margin: 0px 0px 10px 0px;
   padding: 2px 2px 2px 40px;
}

.list-2 li:nth-child(2):hover {
   color: red;
}

.middle {
   margin: 100px 0px 0px 0px;
}

.but {
   height: 40px;
   line-height: 40px;
   display: inline-block;
   background-color: #80b7b3;
   padding: 0 30px;
   border-radius: 20px;

}

.but:hover {
   height: 40px;
   line-height: 40px;
   display: inline-block;
   background-color: #3a5856;
   padding: 0 30px;
   border-radius: 20px;

}

.but:active {
   height: 40px;
   line-height: 40px;
   display: inline-block;
   padding: 0 30px;
   border-radius: 20px;
   border: solid #818181;
}

.but-text {
   font-size: 14px;
   color: #fff;
   font-family: Arial, Helvetica, sans-serif;
   text-transform: uppercase;
   letter-spacing: 2.8px;
   padding: 0px 30px 0px 0px;
   background: url('/img/Shape\ 2.png') right no-repeat;


}

.win {
   margin: 30px 0px 0px 0px;
   height: 30px;
   width: 250px;
}

.win:hover {
   box-shadow: 0 0 20px 0 rgba(127, 190, 213, 0.93);
   border: solid 1px #7fbed5;
}