/* отчистим все отступы и границы */
* {
   padding: 0;
   margin: 0;
   border: 0;
}

/* меняет подсчет блока так чтобы нам было удобно верстать  */
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

/* Убираем линии обводки у некоторых браузеров. */
:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}


/* перечисляем html5 и добавляем им значение блок, что делает их блочными  */
nav,
footer,
header,
aside {
   display: block;
}

/* Уравниваем поведение шрифтов в разных браузеров123  */
html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}


input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}


h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

.block {
   color: blue;
}

/* ............................................................ */



/* новый шрифт */
.arial {
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* размер шрифта 30  */
.fontsize30 {
   font-size: 30px;
}

/* курсив текта */
.italic {
   font-style: italic;
}

/* font-weight - устанавливает насыщенность шрифта (по умолчанию 400)  */
.font700 {
   font-weight: 700;
}

/* установка цвета*/
.colorred {
   color: #a52a2a;
}

/* установка положения текста на странице (по правому) */
.textright {
   text-align: right;
}

/* подчеркивает текст снизу */
.decoration {
   text-decoration: underline;
}

/* подчеркивает текст сверху */
.decoration2 {
   text-decoration: overline;
}

/* зачеркивает текст */
.decoration3 {
   text-decoration: line-through;
}


/* Добавляет тень к тексту 
1 (0рх)- смещение по горизонтали.  
2 (0рх)- смещение по вертикали
3 (0рх)- размер размытия тени
4 цвет */
.shadow {
   text-shadow: 1px 1px 10px #633232;
}

/* Заглавные или прописные символы
1."capitalize" - В каждом новом слове первая буква заглавная.
2.lowercase - все символы в нижнем регистре. 
3.uppercase- все символы в верхнем  регистре.
4. none -возрощает текст к обычному состоянию */
.uppercase {
   text-transform: uppercase;
}

/* Красная строка*/
.ident {
   text-indent: 50px;
}

/* интервал между символами/буквами*/
.ispace {
   letter-spacing: 5px;
}

/* интервал между словами*/
.wspace {
   word-spacing: 5px;
}

/*управляет пробелами между словами
1.nowrap - горизонтальная прокрутка 
2. normal - отмена   */
.witespace {
   white-space: nowrap;
}

/*Межстрочный интервал текста */
.lineheight {
   line-height: 35px;
}