@import"../scss/nullstyle.scss";

body {
   font-family: Arial, Helvetica, sans-serif;
}

// 1.- Высота на весь экран 2.- чтобы ничего не вылезло 
.wrapper {
   min-height: 100%;
   overflow: hidden;

   display: flex;
   flex-direction: column;

}

.content {
   flex: 1 1 auto;
}

.hi {
   background-color: #445162;
   padding: 50px 0px;

   &_list {
      font-family: Arial;
      font-size: 20px;
      line-height: 36px;
      font-weight: 400;
      text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
      color: #ffffff;


   }

   .hi_list li {
      background: url('/img/check_icon_346.png') 0 10px no-repeat;
      padding: 0px 0px 0px 36px;

   }

   &__row {
      display: flex;
      justify-content: space-between;
   }

   &__body {
      color: #ffffff;
      padding: 0px 30px 0px 0px;
   }

   .hi__li-4 {
      margin: 0px;
   }

   &__title {
      font-size: 60px;
      line-height: 1.2;
      font-weight: 400;
      text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
      margin: 0px 0px 40px 0px;


   }

   &__img {}
}

//Ширина контента + выравнивать по центру
.container {
   max-width: 1180px;
   margin: 0px auto;
}

.footer {
   background-color: #f5f5f5;


   // justify-content - выровнить в центре (горизонт).  align-items - центр по вертикали

   &__row {
      display: flex;
      height: 65px;
      justify-content: center;
      align-items: center;
   }

   &__text {
      font-size: 12px;
      line-height: 24px;
      font-weight: 400;
      letter-spacing: 0.025em;
      color: #445162;
   }
}

.title {
   font-size: 30px;
   line-height: 36px;
   color: #445161;
}



.what {
   padding: 50px 0px;

   &_image {
      flex: 0 0 430px;
   }

   //обращаемся к картинке, если картинка будет большего размера, то она без труда поместиться в наш блок 
   &_image img {
      max-width: 100%;
   }



   &__row {
      display: flex;
   }

   // разрешаем второму блоку с текстом увелич и умень
   &__body {
      flex: 1 1 auto;
      padding: 0px 0px 0px 38px;
   }

   &__title {
      margin: 0px 0px 36px 0px;

   }

   &__text {

      font-size: 16px;
      line-height: 24px;
      color: #333333;
   }

   &__text p:nth-child(1) {
      margin: 0px 0px 25px 0px;
   }
}







// ==========================

.columns {
   background-color: #f5f5f5;

   &__title {
      text-align: center;
      margin: 0px 0px 31px 0px;
   }

   // Отступ в 16px можно добиться (т.е раздвинуть flex-контейнер) отрицательным margin у каждого блока 8+8=16. 
   &__row {
      display: flex;
      flex-wrap: wrap;
      margin: 0px -8px;
   }

   // а сами колонки мы сдвигаем на 8px 
   &__column {
      flex: 0 1 50%;
      padding: 0px 8px;
      margin: 0px 0px 30px 0px;
   }

   &__item {}
}

.item {

   &__row {
      display: flex;
   }

   &__image {
      flex: 0 0 200px;
   }

   &__body {
      padding: 0px 0px 0px 15px;
      flex: 1 1 auto;
   }

   &__title {
      color: #445161;
      font-size: 24px;
      margin: 0px 0px 15px 0px;
   }

   &__text {
      color: #333333;
      font-size: 16px;
      line-height: 24px;
   }
}








.vertical {
   padding: 50px;

   // чтобы сделать отсуп у колонок в основной блок вставляем (через margin) половину зачения (как в макете)+ записываем его как отрицат число,  в саму колонку записываем отступ через padding 
   &_row {
      display: flex;
      margin: 0px -22.5px;
   }

   // запрет на увел, можно умень , размер 33%
   //"в саму колонку записываем отступ через padding " По итогу 45px отступ. 
   &_column {
      flex: 0 1 33.333%;
      display: flex;
      padding: 0px 22.5px;

   }

   &__tetle {}

   &__body {
      max-width: 990px;
      margin: 0px auto;
   }

   &__item {
      background-color: #445161;
      color: #ffffff;
      border-radius: 5px;
      border: 1px #445161;
      padding: 0px 0px 20px 0px;
      display: flex;
      flex-direction: column;

   }

   &__subtitle {
      text-align: center;
      font-size: 24px;
      line-height: 30px;
      text-transform: uppercase;
      color: #ffffff;
      padding: 12px 0px;
   }

   &__label {
      background-color: #ffffff;
      border: 1px solid #445161;
      text-align: center;
      font-size: 40px;
      line-height: 30px;
      color: #445162;
      padding: 12px 0px;
   }

   &__text {
      font-size: 14px;
      line-height: 24px;
      color: #ffffff;
      padding: 20px;
      flex: 1 1 auto;
   }

   &__btn {
      display: block;
      margin: 0px 20px;
      height: 40px;
      background-color: #ffffff;
      text-align: center;
      font-size: 18px;
      line-height: 40 px;
      border-radius: 5px;
      color: #445161;
      padding: 10px;
   }
}

.containner {}

.title {
   text-align: center;
   margin: 0px 0px 30px 0px;
}